<a href="https://colab.research.google.com/github/wkwangong/projecteuler/blob/main/ctcuc23_homework01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Project Euler
# Problem 1
# If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
# Find the sum of all the multiples of 3 or 5 below 1000.

print("Find the sum of all the multiples of x or y below number max")

# variables to store answers
x = 0
y = 0
answer = 0

# user inputs to test for
ox = int(input("x = "))
oy = int(input("y = "))
endpoint = int(input("number max = "))

# iteration for multiples of x 
print()
print("multiples of ", x)
while x < endpoint:
  answer = answer + x
  print(x, end = " ")

# iteration for multiples of 3 
print()
print("multiples of ", y)
while y < endpoint:
  answer = answer + y
  print(y, end = " ")
  y = y + oy
print()
print("sum of multiples", answer)

In [ ]:
# Project Euler
# Problem 3
# The prime factors of 13195 are 5, 7, 13 and 29.
# What is the largest prime factor of the number 600851475143 ?

ylist = []
ycount = 0
flag = 0
query = int(input("What is the query number: "))

#finding all factors of the queried number by iterations of multiplication and storing into list variable ylist
for i in range(query+1):
  for j in range(query+1):
    if(j*i==query):
      ylist.append(i)
      ycount = ycount+1

print("all factors of", query, ":", end=", ")
for i in range(ycount):
  print(ylist[i], end=" ")

#identifying and printing prime numbers in ylist
print()
print("all prime factors of", query, ":", end=", ")
for j in range(1,ycount):
  flag = 0
  for i in range(2,query):
    if((ylist[j]>1) and (i<=(ylist[j]/2)) and (ylist[j]%i==0)):
      flag = 1
      break
  if(flag==0):
    print(ylist[j], end = " ")

What is the query number: 600851475143

In [ ]:
# Project Euler
# Problem 6
# By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.
# What is the 10 001st prime number?

#number of prime numbers identified
listcount = 0

#test variable n to identify if it is a prime nunber. Drop flag if is prime
for n in range(2,1000000):
  flag = 0
  for i in range(2,500000):
    if((n>1) and (i<=(n/2)) and (n%i==0)):
      flag = 1

#if variable is identified as a prime number, increase listcount, display prime number at specific count
  if(flag==0):
    listcount = listcount + 1
    if (listcount%100==0):
      print(listcount, end=" ")
    if listcount==101:
      print()
      print("the no", listcount, "prime number is", n)
    if listcount==1001:
      print()
      print("the no", listcount, "prime number is", n)
    if listcount==10001:
      print()
      print("the no", listcount, "prime number is", n)

100
the no 101 prime number is 547
200 300 400 500 600 700 800 900 1000
the no 1001 prime number is 7927
1100 1200 1300 1400 1500 1600 1700 1800 1900 2000 2100 2200 2300 2400 2500 2600 2700 2800 2900 3000 3100 3200 3300 3400 3500 3600 3700 3800 3900 4000 4100 4200 4300 4400 4500 4600 4700 4800 4900 5000 5100 5200 5300 5400 5500 5600 5700 5800 5900 6000 6100 6200 6300 6400 6500 6600 6700 6800 6900 7000 7100 7200 7300 7400 7500 7600 7700 7800 7900 8000 8100 8200 8300 8400 8500 8600 8700 8800 8900 9000 9100 9200 9300 9400 9500 9600 9700 9800 9900 10000
the no 10001 prime number is 104743
10100 10200 10300 10400 10500 10600 10700 10800 10900 11000 11100